#Collections{
    background-color: white;

    .section-name{
        text-align: center;
        padding: 40px 0;
        h1{
            color: grey;
            font-size: 70px;
        }
    }
    .card-wrapperr{
        
        .card-content{
            width: 371px;
            h5{
               text-align: center;
               font-size: 30px;
               color: grey;
           }
        }
    }
}