#Detalik-section {
  padding: 100px 0 100px 0;
  .ssc{
    border:3px solid blue;
    border-radius: 20px;
    border-top: 0px;
    .eedd{
     
      border-radius: 20px;
    }
  }
  .nav-container{
   
    margin-right: 10px;
}
  .product-information {
    padding: 0 120px 0 0;

    .category-wishlist {

      .category {
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        width: 100px;
        height: 30px;
        background: rgb(49, 60, 204);
        background: linear-gradient(90deg, rgba(19, 111, 250, 0.418) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);

        span {
          color: #ffffff;
        }

      }

      a {
        display: inline-block;
        margin-top: 10px;
        font-size: 20px;
        margin-left: 30px;
        color: white;
        text-decoration: none;

        i {
          margin-right: 10px;
        }
      }

    }

    .name-description {
      .icons-star {
        color: white;
      }

      .name {
        color: white;
      }

      .sku {
        color: white;

        ul {
          padding: 0;

          li {
            list-style: none;
          }
        }
      }

      .description {
        color: white;
      }
    }

    .product-select {
      margin-top: 50px;

      select {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 500px;
        height: 40px;
        background-color: #000;
        color: gray;

      }
    }

    .price-quantity {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      .price {
        color: white;
      }


      .quantity {}
    }

    .add-buy {

      .add {
        margin-right: 20px;
        width: 200px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(49, 60, 204);
        background: linear-gradient(90deg, rgb(19, 111, 250) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
      }

      .buy {
        width: 200px;
        border: 1px solid gray;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(49, 60, 204);
        background: linear-gradient(90deg, rgb(19, 111, 250) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
      }

      :hover {

        background: rgb(49, 60, 204);
        background: linear-gradient(90deg, rgba(19, 111, 250, 0) 0%, rgba(42, 26, 184, 0) 35%, rgba(111, 0, 119, 0) 100%);
        color: gray;
        border-color: gray;
      }
    }
  }
}

#Product-description {
  padding: 100px 0 100px 0;
  background-color: white;
}

#Slider-product {
  .item {
    background-color: rgba(0, 0, 255, 0.123);

    border-left: 2px solid rgba(68, 0, 255, 0.671);
    border-right: 2px solid rgba(68, 0, 255, 0.671);
    border-radius: 30px;

  }

  .owl-item {
    >div {
      cursor: pointer;
      margin: 6% 8%;
      transition: margin 0.4s ease;

    }

    &:not(.center) {
      >div {
        opacity: .5;
      }
    }

  }

  .owl-item.center {
    >div {
      cursor: auto;
      margin: 0;
    }
  }

  .owl-nav {
    position: relative;

    .owl-prev {
      border-radius: 50%;
      background-color: white;
      background-image: url("back.png");
      background-size: cover;
      width: 80px;
      height: 80px;
    }

    .owl-next {
      border-radius: 50%;
      background-color: white;
      position: absolute;
      background-image: url("next.png");
      background-size: cover;
      width: 80px;
      height: 80px;
      right: 0;

    }
  }
}

@mixin target-ie {

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    @content;
  }
}

#Peoduct-tab {
  margin-top: 100px;



  .pc {
    .item {
      border: 2px solid rgb(43, 30, 55);
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: rgba(25, 43, 70, 0.341);

      .product-card-image-type {

        h4 {
          color: rgb(185, 182, 182);
        }

        p {
          color: gray;
        }
      }
    }

  }
}


.ga-vertical-gallery {

  .services-slider {
    display: flex;
  }

  .slider-main {
    width: 100%;
    text-align: -webkit-center;

    div {
      img {
        width: 503px;
        height: 505px;
      }
    }
  }

  .main-container {
    width: 100%;

  }

  .nav-container {
    height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include target-ie {
      width: 100%;
      height: 100%;
    }

    i.fa {
      text-align: center;
    }

    .slider-nav.slick-initialized.slick-slider.slick-vertical {
      //border: 1px dotted;
      height: 485px !important;

      // height: 505px!important;
      @include target-ie {
        height: inherit;
        height: 100%;
      }

    }

    img {
      max-height: 135px;
      height: 63px;
      width: 76px;
    }

    .slick-current {
      img {
        box-shadow: 0 0 4px 2px rgba(108, 232, 220, 0.9);
      }
    }

    .slick-slide {
      max-height: 135px;
      margin-bottom: 18px;

    }
  }

  .slick-slide.slick-current.slick-active {
    width: 100% !important;
  }

  .slider-nav.slick-initialized.slick-slider.slick-vertical {
    display: flex !important;
    flex-direction: column-reverse;
    text-align: center;
    text-align: -webkit-center;
    height: 100%;
    justify-content: center;


    @media screen and (min-width: 62em) {
      justify-content: flex-start;

    }



  }

  .slick-next,
  .slick-prev {
    position: relative;
    top: unset;

    @include target-ie {
      top: 0px;
    }

    color: #fc7a22;



    height:unset;

    &:before {

      color: transparent;
    }
  }

  .slick-next {
    right: unset;

    @include target-ie {
      right: 0px;
    }

    transform: rotate(-90deg);
  }

  .slick-prev {
    left: unset;

    @include target-ie {
      left: 0px;
    }

    transform: rotate(90deg);
  }

}



@media only screen and (min-width: 415px) and (max-width: 820px) {
  #Product-description {
    padding: 100px 0 100px 0;
    background-color: white;

    img {
      width: 100%;
    }
  }
  #Detalik-section {
    padding: 100px 0 100px 0;
    .ssc{
      border:3px solid blue;
      border-radius: 20px;
      border-top: 0px;
      .eedd{
        width: 303px;
        height: 305px;
        border-radius: 20px;
      }
    }

    .nav-container{
        height: 300px;
        margin-right: 10px;
    }
    .product-information {
      padding: 0 120px 0 0;
  
      .category-wishlist {
  
        .category {
          display: inline-block;
          border-radius: 5px;
          text-align: center;
          width: 100px;
          height: 30px;
          background: rgb(49, 60, 204);
          background: linear-gradient(90deg, rgba(19, 111, 250, 0.418) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
  
          span {
            color: #ffffff;
           
          }
  
        }
  
        a {
          display: inline-block;
          margin-top: 10px;
          font-size: 10px;
          margin-left: 10px;
          color: white;
          text-decoration: none;
  
          i {
            margin-right: 10px;
           
          }
        }
  
      }
  
      .name-description {
        .icons-star {
          color: white;
          width: 100px;
          i{
            font-size: 10px;
          }
        }
  
        .name {
          color: white;
          h1{
            font-size: 20px;
          }
        }
  
        .sku {
          color: white;
  
          ul {
            padding: 0;
  
            li {
              list-style: none;
            }
          }
        }
  
        .description {
          color: white;
        }
      }
  
      .product-select {
        margin-top: 50px;
  
        select {
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 500px;
          height: 40px;
          background-color: #000;
          color: gray;
  
        }
      }
  
      .price-quantity {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
  
        .price {
          color: white;
        }
  
  
        .quantity {}
      }
  
      .add-buy {
  
        .add {
          margin-right: 20px;
          width: 200px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          background: rgb(49, 60, 204);
          background: linear-gradient(90deg, rgb(19, 111, 250) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
        }
  
        .buy {
          width: 200px;
          border: 1px solid gray;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          background: rgb(49, 60, 204);
          background: linear-gradient(90deg, rgb(19, 111, 250) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
        }
  
        :hover {
  
          background: rgb(49, 60, 204);
          background: linear-gradient(90deg, rgba(19, 111, 250, 0) 0%, rgba(42, 26, 184, 0) 35%, rgba(111, 0, 119, 0) 100%);
          color: gray;
          border-color: gray;
        }
      }
    }
  }



  #Peoduct-tab {
    margin-top: 100px;



   

    .right-image{
      img{
        width: 400px;
      }
    }
  }


  // #Detalik-section {
  //   height: 100vh;
  //   padding: 100px 0 100px 0;
  //   position: relative;

  //   .images{
  //     position: absolute;
  //     z-index: 1;

  //     top: 0;
  //   }

  //   .title{
  //     margin-top: 500px;
  //   }
  
  //   .product-information {
  //     padding: 0 120px 0 0;
  
  //     .category-wishlist {
  
  //       .category {
  //         display: inline-block;
  //         border-radius: 5px;
  //         text-align: center;
  //         width: 100px;
  //         height: 30px;
  //         background: rgb(49, 60, 204);
  //         background: linear-gradient(90deg, rgba(19, 111, 250, 0.418) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
  
  //         span {
  //           color: #ffffff;
  //         }
  
  //       }
  
  //       a {
  //         display: inline-block;
  //         margin-top: 10px;
  //         font-size: 20px;
  //         margin-left: 30px;
  //         color: white;
  //         text-decoration: none;
  
  //         i {
  //           margin-right: 10px;
  //         }
  //       }
  
  //     }
  
  //     .name-description {
  //       .icons-star {
  //         color: white;
  //       }
  
  //       .name {
  //         color: white;
  //       }
  
  //       .sku {
  //         color: white;
  
  //         ul {
  //           padding: 0;
  
  //           li {
  //             list-style: none;
  //           }
  //         }
  //       }
  
  //       .description {
  //         color: white;
  //       }
  //     }
  
  //     .product-select {
  //       margin-top: 50px;
  
  //       select {
  //         border-top-right-radius: 10px;
  //         border-bottom-left-radius: 10px;
  //         width: 500px;
  //         height: 40px;
  //         background-color: #000;
  //         color: gray;
  
  //       }
  //     }
  
  //     .price-quantity {
  //       margin-top: 50px;
  //       display: flex;
  //       justify-content: space-between;
  
  //       .price {
  //         color: white;
  //       }
  
  
  //       .quantity {}
  //     }
  
  //     .add-buy {
  //         margin-top: 10px;
  //       .add {
  //         margin-right: 20px;
  //         width: 200px;
  //         border-top-right-radius: 20px;
  //         border-bottom-left-radius: 20px;
  //         background: rgb(49, 60, 204);
  //         background: linear-gradient(90deg, rgb(19, 111, 250) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
  //       }
  
  //       .buy {
  //         width: 200px;
  //         border: 1px solid gray;
  //         border-top-right-radius: 20px;
  //         border-bottom-left-radius: 20px;
  //         background: rgb(49, 60, 204);
  //         background: linear-gradient(90deg, rgb(19, 111, 250) 0%, rgb(42, 26, 184) 35%, rgb(111, 0, 119) 100%);
  //       }
  
  //       :hover {
  
  //         background: rgb(49, 60, 204);
  //         background: linear-gradient(90deg, rgba(19, 111, 250, 0) 0%, rgba(42, 26, 184, 0) 35%, rgba(111, 0, 119, 0) 100%);
  //         color: gray;
  //         border-color: gray;
  //       }
  //     }
  //   }
  // }

}